*{
    margin: 0 auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    text-align: center;
}

header{
    
    padding-top: 6em;
}


#intro{
    padding-top: 4em;
}